<!DOCTYPE HTML>

<html> 
<!------ Head ------>
<head> 
		<meta charset = "UTF-8"></meta>
		<title> Heetesh Alwani</title>
		<meta name="description" content="I can">
		<link rel="stylesheet" href = "/assets/css/design.css"/>
		<link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
		<section id = "navmenu">
			<div class = "navmenu-item" ><a href = "/index.html" class = "nounderline">About</a></div>
			<div class = "navmenu-item" ><a href ="/projects.html" class = "nounderline">Projects</a></div>			
			<div class = "navmenu-item" > <a href ="/blog.html" class = "nounderline">Blog</a></div>
			<div class = "navmenu-item" ><a href ="#contact" class = "nounderline">Contact</a></div>	
		</section>

		{{ content }}

 </body>

</html>