---
layout: default
---
<div id = "wrapper">
<div id = "main">
<section class = "main">
<header>
	<h2>{{ page.title }}</h2>
</header>
{{ content }}
<div>
 <h2>Contact Me</h2>
     <dl>
        <dt>Address</dt>
        <dd>2451 Le Conte Avenue &bull; Berkeley, CA 94709 &bull;  USA</dd>
        <dt>Phone</dt>
        <dd>(510) 816–0270</dd>
        <dt>Email</dt>
        <dd><a href=”#”>heetesh001@berkeley.edu</a></dd>
    </dl>
    <ul>
         <li><a href=”#”><span>Twitter</span></a></li>
         <li><a href=”#”><span>Facebook</span></a></li>
         <li><a href=”#”><span>Instagram</span></a></li>
         <li><a href=”#”><span>GitHub</span></a></li>
         <li><a href=”#”><span>Dribbble</span></a></li>
     </ul>
 </div>
</div>
</div>
</section>