---
layout: default
---
<div id = "wrapper">
<div id = "main">
<section class = "main">
<header>
	<h2>{{ page.title }}</h2>
</header>
{{ content }}
</div>
</section>
<div class = "footcontainer2">
    <ul class="nobullet">
         <li><a href="https://www.facebook.com/heetesh.alwani" class = "icon fa-facebook alt"></a></li>
         <li><a href="https://github.com/heeteshalwani" class = "icon fa-github alt"></a></li>
         <li><a href="https://www.linkedin.com/in/heetesh-alwani-509054137/" class = "icon fa-linkedin alt"></a></li>
     </ul>
</div>
</div>
</div>